html,body{
	height:100%;
}
a{
	text-decoration:none;
}
#top{
	width:100%;
	height:50px;
	position:relative;
	border-bottom:1px solid #e5e5e5;
	span{
		font-size:40px;
		float:left;
		font-family:"iconfont";
		margin-left:15px;
		margin-top:2px;
		color:#000000;
		transition: .3s;
  	transition-timing-function: ease;
	}
	span:hover{
		border-bottom:4px solid #3b6caa;
	}
	ul{
		height:50px;
		line-height:50px;
		float:left;
		li{
			height:46px;
			font-size:16px;
			margin-left:25px;
			color:#323232;
			float:left;
			font-family:"iconfont";
			transition: .3s;
    	transition-timing-function: ease;
		}
	}
	ul li:hover{
		border-bottom:4px solid #3b6caa;
		color:#527db4;
	}
	.top-right{
		height:100%;
		position:absolute;
		right:0;
		top:0;
		float:right;
		.place{
		height:34px;
		width:105px;
		font-size:16px;
		text-align:center;
		line-height:34px;
		color:#4178be;
		margin-top:8px;
		border:1px solid #4178be;
		float:left;
		}
		.place:hover{
			background:#4178be;
			color:#fff;
		}
		.search{
			height:100%;
			width:206px;
			float:left;
			line-height:50px;
			margin-left:20px;
			border-left:1px solid #e0e0e0;
			border-right:1px solid #e0e0e0;
			input{
				width:150px;
				border:none;
				outline:none;
				float:left;
				padding-left:10px;
				margin-top:15px;
			}
			input::placeholder{
				color:#757575;
			}
		}
		.search:hover{
			box-shadow:0 0 2px 2px #4178be;
		}
		.glass{
			width:40px;
			height:100%;
			margin-left:5px;
			text-align:center;
			line-height:50px;
			float:left;
			font-size:20px;
			font-family:"iconfont";
		}
		.glass:hover{
			box-shadow:0 0 2px 2px #4178be;
		}
		.service{
			height:100%;
			width:30px;
			float:left;
			.person{
			font-size:20px;
			line-height:46px;
			margin-left:15px;
			float:left;
			font-family:"iconfont";
			position:relative;
			transition: .3s;
			transition-timing-function: ease;
			}
			&:hover .my{
				display:block;
			}
			.my{
				height:120px;
				width:205px;
				position:absolute;
				top:51px;
				left:1106px;
				float:left;
				background:#fff;
				display:none;
				.mytop{
					height:79px;
					width:204px;
					border-left:1px solid #e0e0e0;
					border-right:1px solid #e0e0e0;
					border-bottom:1px solid #e0e0e0;
					i{
						width:100%;
						float:left;
						font-style:normal;
						font-size:15px;
						color:#5e5e5e;
						line-height:40px;
						text-indent:25px;
					}
					i:hover{
						background:#4178be;
						color:#fff;
					}
				}
				.mybottom{
					height:40px;
					width:204px;
					border-left:1px solid #e0e0e0;
					border-right:1px solid #e0e0e0;
					border-bottom:1px solid #e0e0e0;
					i{
						width:100%;
						float:left;
						font-style:normal;
						font-size:15px;
						color:#5e5e5e;
						line-height:40px;
						text-indent:25px;
					}
					i:hover{
						background:#4178be;
						color:#fff;
					}
				}
			}
		}
		.list{
			font-size:20px;
			line-height:46px;
			margin-left:10px;
			float:left;
			font-family:"iconfont";
			transition: .3s;
	  	transition-timing-function: ease;
		}
		.list:hover,.person:hover{
			border-bottom:4px solid #3b6caa;
			color:#527db4;
		}
	}
}
.space-one{
	.starwars{
		height:425px;
		width:100%;
		background:url(../img/starwars.jpg) center center / cover no-repeat #000;
		img{
			display:none;
		}
		.background{
		  width:50%;
		  float:left;
			h2{
			font-size:40px;
			color:#ffffff;
			font-weight:300;
			padding-top:68px;
			margin-left:30px;
			}
			p{
				font-size:14px;
				color:#fff;
				line-height:26px;
				margin-left:30px;
				margin-top:20px;
			}
			.roundnesst,.roundnesso{
				height:26px;
				width:26px;
				border-radius:50%;
				background:#fff;
				margin-left:30px;
				margin-top:18px;
				float:left;
				font-family:"iconfont";
				a{
					color:#040c19;
					height:15px;
					width:15px;
					display:block;
					line-height:26px;
					margin-left:5px;
				}
			}
			.roundnesst{
				clear:both;
			}
			span{
					font-size:14px;
					margin-left:8px;
					color:#fff;
					margin-top:22px;
					float:left;
			}
			span:hover{
				border-bottom:1px solid #fff;
			}
		}
	}
}	
.this{
	height:435px;
	width:25%;
	background:#f9f9fb;
	float:left;
	h3{
		font-size:22px;
		padding-left:30px;
		padding-top:25px;
		font-weight:300;
	}
}
.manage{
	height:435px;
	width:25%;
	float:left;
	background:#ecf2f2;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf0e6;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#3b6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.call{
	height:435px;
	width:25%;
	float:left;
	background:#f9f9fb;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf0e6;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#3b6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.tech{
	height:435px;
	width:25%;
	float:left;
	background:#ecf2f2;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf0e6;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#3b6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.inside{
	height:382px;
	width:25%;
	float:left;
	background:#264a60;
	h3{
		font-size:22px;
		padding-left:30px;
		padding-top:28px;
		font-weight:300;
		color:#fff;
	}
	.see{
		height:42px;
		width:154px;
		text-align:center;
		line-height:42px;
		font-size:14px;
		color:#fff;
		border:2px solid #fff;
		margin-top:30px;
		margin-left:30px;
		font-weight:300;
	}
	.see:hover{
		background:#fff;
		color:#323232;
	}
}
.future{
	height:382px;
	width:25%;
	float:left;
	background:#1d3649;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#fff;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#fff;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		border-radius:50%;
		background:#fff;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#1d3649;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#fff;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.turn{
	height:382px;
	width:25%;
	float:left;
	background:#264a60;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#fff;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#fff;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#fff;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#1d3649;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		height:54px;
		width:262px;
		font-size:14px;
		margin-left:8px;
		color:#fff;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.breaks{
	height:382px;
	width:25%;
	float:left;
	background:#1d3649;
	img{
		width:100%;
	}
	h3{
		font-size:16px;
		color:#fff;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#fff;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#fff;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#1d3649;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#fff;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.product{
	height:455px;
	width:25%;
	float:left;
	background:#f9f9fb;
	h3{
		font-size:22px;
		padding-left:30px;
		padding-top:40px;
		font-weight:300;
		color:#008571;
	}
	.current{
		height:46px;
		width:164px;
		text-align:center;
		line-height:42px;
		font-size:14px;
		color:#fff;
		margin-top:30px;
		margin-left:30px;
		font-weight:300;
		background:#008571;
	}
	.more{
		height:42px;
		width:170px;
		text-align:center;
		line-height:42px;
		font-size:14px;
		color:#008571;
		border:2px solid #008571;
		margin-top:30px;
		margin-left:30px;
		font-weight:300
	}
	.more:hover{
		background:#008571;
		color:#fff;
	}
}
.statistics{
	height:455px;
	width:25%;
	float:left;
	background:#ecf2f2;
	img{
		width:100%;
		margin-top:18px;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf2f2;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#6e6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.rational{
	height:455px;
	width:25%;
	float:left;
	background:#f9f9fb;
	img{
		width:100%;
		margin-top:18px;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf2f2;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#6e6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.tools{
	height:455px;
	width:25%;
	float:left;
	background:#ecf2f2;
	img{
		width:100%;
		margin-top:18px;
	}
	h3{
		font-size:16px;
		color:#323232;
		font-weight:300;
		margin-left:30px;
		margin-top:22px;
		line-height:24px;
	}
	p{
		font-size:14px;
		color:#323232;
		margin-top:10px;
		line-height:24px;
		margin-left:30px;
		font-weight:300;
	}
	.roundness{
		height:26px;
		width:26px;
		border-radius:50%;
		background:#3b6caa;
		margin-left:30px;
		margin-top:18px;
		float:left;
		font-family:"iconfont";
		a{
			color:#ecf2f2;
			height:15px;
			width:15px;
			display:block;
			line-height:26px;
			margin-left:5px;
		}
	}
	span{
		font-size:14px;
		margin-left:8px;
		color:#6e6caa;
		margin-top:22px;
		line-height:26px;
		float:left;
		font-weight:300;
	}
}
.business{
	height:465px;
	width:25%;
	float:left;
	background:#4178be;
	h3{
		width:220px;
		font-size:22px;
		padding-left:30px;
		padding-top:80px;
		padding-bottom:40px;
		font-weight:300;
		color:#fff9f0;
	}
}
.analytics{
	height:465px;
	width:25%;
	float:left;
	background:#4178be;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.cloud{
	height:465px;
	width:25%;;
	float:left;
	background:#4178be;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.customer{
	height:465px;
	width:25%;
	float:left;
	background:#4178be;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.space-tow{
	.man{
		clear:both;
		height:328px;
		width:100%;
		float:left;
		background:url(../img/man.jpg) center center / cover no-repeat #000;
		img{
			display:none;
		}
		.man-background{
			width:100%;
			height:290px;
		  float:left;
			h5{
			padding-top:72px;
			font-size:14px;
			color:#fff;
			margin-left:30px;
			font-weight:300;
			}
			h2{
				margin-top:20px;
				font-size:25px;
				color:#fff;
				margin-left:30px;
				font-weight:300;
			}
			h4{
				padding-top:25px;
				font-size:14px;
				color:#fff;
				margin-left:30px;
				font-weight:300;
			}
			.how{
				height:43px;
				width:202px;
				background:#323232;
				text-align:center;
				line-height:43px;
				color:#fff;
				margin-left:30px;
				margin-top:25px;
				font-weight:300;
			}
		}
	}
}
.help{
	height:352px;
	width:25%;
	float:left;
	background:#777677;
	h3{
		width:220px;
		margin-bottom:40px;
		font-size:22px;
		padding-left:30px;
		padding-top:85px;
		font-weight:300;
		color:#fff9f0;
	}
}
.support{
	height:352px;
	width:25%;
	float:left;
	background:#777677;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.knowledge-center{
	height:352px;
	width:25%;
	float:left;
	background:#777677;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.red-books{
	height:352px;
	width:25%;
	float:left;
	background:#777677;
	img{
		width:40px;
		margin-top:30px;
		margin-left:16px;
	}
	h4{
		font-size:16px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
	h6{
		font-size:14px;
		color:#fff;
		font-weight:300;
		padding-top:15px;
		margin-left:16px;
	}
}
.Discover{
	clear:both;
	height:439px;
	width:25%;
	background:#f4f4f4;
	float:left;
	h3{
		font-size:14px;
		color:#464646;
		padding-top:46px;
		margin-left:30px;
		padding-bottom:8px;
	}
	span{
		float:left;
		font-size:14px;
		color:#5a5a5a;
		font-weight:300;
		margin-top:20px;
		margin-left:30px;
		clear:both;
	}
	span:hover{
		color:#3b81c4;
		border-bottom:1px solid #3b81c4;
	}
}
.Information{
	height:439px;
	width:25%;
	float:left;
	background:#f4f4f4;
	h3{
		font-size:14px;
		color:#464646;
		padding-top:46px;
		margin-left:30px;
		padding-bottom:8px;
	}
	span{
		float:left;
		font-size:14px;
		color:#5a5a5a;
		font-weight:300;
		margin-top:20px;
		margin-left:30px;
		clear:both;
	}
	span:hover{
		color:#3b81c4;
		border-bottom:1px solid #3b81c4;
	}
}
.connect{
	height:439px;
	width:25%;
	float:left;
	background:#f4f4f4;
	h3{
		font-size:14px;
		color:#464646;
		padding-top:46px;
		margin-left:16px;
		padding-bottom:8px;
	}
	span{
		float:left;
		font-size:14px;
		margin-left:16px;
		color:#5a5a5a;
		font-weight:300;
		margin-top:20px;
		clear:both;
	}
	span:hover{
		color:#3b81c4;
		border-bottom:1px solid #3b81c4;
	}
}
.about{
	height:439px;
	width:25%;
	float:left;
	background:#f4f4f4;
	h3{
		font-size:14px;
		color:#464646;
		padding-top:46px;
		margin-left:16px;
		padding-bottom:8px;
	}
	span{
		float:left;
		font-size:14px;
		color:#5a5a5a;
		font-weight:300;
		margin-top:18px;
		margin-left:16px;
		clear:both;
	}
	span:hover{
		color:#3b81c4;
		border-bottom:1px solid #3b81c4;
	}
	h5{
		float:left;
		font-size:14px;
		color:#464646;
		padding-top:40px;
		margin-left:16px;
		padding-bottom:20px;
		clear:both;
	}
	input{
		margin-right:30px;
		height:38px;
		width:310px;
		text-align:left;
		text-indent:12px;
		line-height:38px;
		float:right;
		color:#444444;
		background:#ffffff;
		font-size:14px;
		font-weight:300;
		border:1px solid #959f9f;
	}
	input::placeholder{
			color:#444444;
		}
	input:hover{
		border:2px solid #3b81c4;
	}
}
.bottom{
	width:100%;
	float:left;
	background:#f4f4f4;
	clear:both;
	.list{
		font-size:14px;
		color:#5a5a5a;
		font-weight:300;
		margin-left:30px;
		height:60px;
		margin-right:30px;
		border-top:1px solid #aeaeae;
		a{
			float:left;
			margin-top:22px;
		}
		span{
			float:left;
			margin-top:22px;
			margin-left:30px;
		}
		span:hover,a:hover{
			border-bottom:1px solid #3b81c4;
			color:#3b81c4;
		}
		.list-right{
			height:100%;
			width:250px;
			float:right;
			h4{
				float:left;
				width:80px;
				margin-top:22px;
				font-weight:300;
			}
			i{
				float:left;
				margin-left:16px;
				font-style:normal;
				font-size:26px;
				margin-top:15px;
				font-family:"iconfont";
				color:#000000;
			}
		}
	}
}
#turnway{
	height:42px;
	width:42px;
	background:#ececec;
	font-family:"iconfont";
	color:#131313;
	text-align:center;
	line-height:42px;
	font-size:26px;
	position:fixed;
	right:28px;
	bottom:60px;
	border-radius:50%;
}
@media screen and (max-width: 1190px){
	#top{
		.top-list{
	    ul{
		   display:none;
			}
		}
	}
}
@media screen and (max-width: 593px){
	#top{
		.top-right{
			.place{
			display:none;
			}
	    .search{
	    	border-left:none;
	    	width:40px;
			&:hover{
					box-shadow:none;
				}
				input{
					display:none;
				}
				.glass{
					width:40px;
					float:right;
				}
			}
		}
	}
}
@media screen and (max-width:  576px){
	.space-one{
		height:450px;
		.starwars{
			height:200px;
			background:none;
			img{
				width:100%;
				height:100%;
				display:block;
			}
			.background{
				margin-top:-50px;
				background:black;
				width:100%;
			}
		}
	}
}
@media screen and (max-width:  576px){
	.space-tow{
		height:520px;
		float:left;
		.man{
			height:200px;
			background:none;
			img{
				width:100%;
				height:100%;
				display:block;
			}
			.man-background{
				background:black;
				height:320px;
				width:100%;
				h5{
					padding-top:40px;
				}
			}
		}
	}
}
@media screen and (max-width: 1000px) and (min-width: 580px){
	.this{
		width:50%;
	}
	.manage{
		width:50%
	}
	.call{
		width:50%;
	}
	.tech{
		width:50%;
	}
	.inside{
		width:50%;
	}
	.future{
		width:50%
	}
	.turn{
		width:50%;
	}
	.breaks{
		width:50%;
	}
	.product{
		width:50%;
	}
	.statistics{
		width:50%
	}
	.rational{
		width:50%;
	}
	.tools{
		width:50%;
	}
	.business{
		width:50%;
	}
	.analytics{
		width:50%
	}
	.cloud{
		width:50%;
	}
	.customer{
		width:50%;
	}
	.help{
		width:50%;
	}
	.support{
		width:50%
	}
	.knowledge-center{
		width:50%;
	}
	.red-books{
		width:50%;
	}
	.Discover{
		width:50%;
	}
	.Information{
		width:50%
	}
	.connect{
		width:50%;
	}
	.about{
		width:50%;
	}
}
@media screen and (max-width: 576px){
	.this{
		width:100%;
		height:90px;
	}
	.manage{
		width:100%;
		height:380px;
	}
	.call{
		width:100%;
		height:380px;
	}
	.tech{
		width:100%;
		height:380px;
	}
	.inside{
		width:100%;
		height:150px;
	}
	.future{
		width:100%
	}
	.turn{
		width:100%;
	}
	.breaks{
		width:100%;
	}
	.product{
		width:100%;
		height:260px;
	}
	.statistics{
		width:100%
	}
	.rational{
		width:100%;
	}
	.tools{
		width:100%;
	}
	.business{
		width:100%;
		height:150px;
	}
	.analytics{
		width:100%
	}
	.cloud{
		width:100%;
	}
	.customer{
		width:100%;
	}
	.help{
		width:100%;
		height:115px;
	}
	.support{
		width:100%;
		height:300px;
	}
	.knowledge-center{
		width:100%;
		height:300px;
	}
	.red-books{
		width:100%;
	}
	.Discover{
		width:100%;
		height:200px;
	}
	.Information{
		width:100%;
		height:200px;
	}
	.connect{
		width:100%;
		height:200px;
	}
	.about{
		width:100%;
		input{
			width:85%;
		}
	}
	.bottom{
		.list{

		}
	}
}

